@import '../variables';

.checkout-widget {
  @include media-breakpoint-up(xl) {
    position: fixed;
  }
  width: 30vw;
  max-width: 350px;
  min-width: 300px;
  top: 25vh;
  right: 5vw;
  background: $bg-primary;
  padding: 2rem;
  z-index: 9999;
}
