<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar__sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to admin_root_path(type: 'property'), class: 'nav-link sidebar__link' do %>
          Properties
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_root_path(type: 'activity'), class: 'nav-link sidebar__link' do %>
          Activities
        <% end %>
      </li>
    </ul>
  </div>
</nav>
