<div class="products_spacer">
  <div class="row">
    <div class="col">
      <h2 class="products_spacer__header"><%= header %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="products_spacer__products">
        <% products.each do |product| %>
          <%= render partial: 'shared/product_card', locals: { product: product } %>
        <% end %>
      </div>
    </div>
  </div>
  <% if local_assigns[:link].present? %>
    <div class="row">
      <div class="col">
        <%= link %>
      </div>
    </div>
  <% end %>
</div>
