<article class="container">
  <h2 class="mb-5">Qui sommes-nous ?</h2>
  <p>
    <strong>KARIB INN</strong> est une agence de voyages spécialisée dans l’organisation de
    séjours
    <strong>SUR MESURE</strong> en Guadeloupe. Basée en Grande Terre, au cœur de l’activité
    touristique de l’île,
    notre équipe de professionnels travaille depuis de nombreuses années dans le secteur du
    tourisme
    et en connaît tous les bons plans. De la réservation de votre billet de transport à la
    sélection
    de votre hébergement sans oublier vos loisirs et la location de votre véhicule, nous sommes les
    mieux placés pour vous conseiller, organiser vos vacances de rêve et vous recevoir...
  </p>
  <p>

    <strong>Notre démarche?</strong> Elle est très simple : vous permettre de découvrir la
    Guadeloupe selon VOS
    envies, VOTRE personnalité et à VOTRE rythme. Vous êtes de grands sportifs et vos vacances
    idéales riment avec émotions fortes. En famille ou en couple, vous préférez plutôt un séjour
    farniente, à l’ombre d’un palmier. Vous êtes de fins gourmets, la cuisine créole est votre seul
    objectif, nous sommes les architectes de vos rêves les plus doux et les plus fous.
  </p>
  <p>

    <strong>Nos offres</strong> sont variées et originales. Notre sélection minutieuse garantit la
    qualité et
    l’authenticité de nos produits. Pour les petits budgets, comme pour les prestations les plus
    luxueuses, nous négocions, avec nos différents intervenants, les meilleures réductions pour
    vous
    faire bénéficier de packages à tarifs préférentiels. Nous proposons également des combinés au
    départ de la Guadeloupe sur les îles voisines, telles que la Martinique, Saint-Martin,
    Saint-Barthélemy ou la Dominique. Vos extensions de séjour deviennent possibles grâce à des
    collaborateurs fiables qui partagent les mêmes valeurs et répondent aux mêmes exigences que
    nous.
  </p>
  <p>
    <strong>Nos garanties</strong> comme l’exige la loi française, notre activité est certifiée par
    notre
    immatriculation IM971160005 auprès d’Atout France, l’unique organisme habilité à délivrer une
    licence d’agent de voyages en France. Notre garantie financière a pour objectif deprotéger nos
    clients, ainsi que notre RCP Assurance Allianz Actif Pro CA000000207317, obligatoire à
    l’exercice
    de notre profession. Nous assurons votre <strong>assistance</strong> sur place 7 jours sur 7.
    Une permanence
    téléphonique est à votre disposition pour toute information complémentaire et nous intervenons
    rapidement en cas de besoin.

  </p>
  <p>
    L’équipe KARIB INN et l’ensemble de ses partenaires, triés sur le volet, œuvrent dans un seul
    <strong>but</strong> vous faire tomber amoureux de nos 5 merveilleuses îles. De ce voyage
    initiatique, nous
    souhaitons faire de vous des ambassadeurs de la Guadeloupe. Revenez-y, parlez-en à votre
    entourage pour les inciter à les découvrir et choisir <strong>KARIB INN</strong> pour être sous
    les tropiques
    comme à la maison ...
  </p>
</article>
