<article class="container">
  <h2 class="mb-5">Au-delà de la mer en Guadeloupe</h2>
  <p>
    Quand on pense aux Antilles on a tous une image qui nous vient en tête, et sur cette carte
    postale imaginaire on est jamais très loin d’une eau turquoise et cristalline et de sable
    blanc. En effet les îles de l’arc Caraibéen recèlent de nombreuses et formidables criques,
    anses ou baies toutes plus belles les une que les autres.
  </p>

  <p>
    Les îles volcaniques offrent également un autre aspect de toute beauté, la forêt tropicale
    La Guadeloupe avec son volcan la Soufrière dans la région de la Basse-terre présente toutes les
    caractéristiques de celle -ci, une forêt luxuriante, des rivières et des cascades et une faune
    et une flore incroyable.
  </p>

  <p>
    La Guadeloupe a l’avantage qu’une grande partie de sa forêt tropicale fasse partie du “Parc
    National de la Guadeloupe”. La forêt est équipée de nombreux sentiers balisés ou l’on peut
    faire des randonnées plus ou moins longues en toute sécurité en fonction de sa condition
    physique. Les sites de référence sont nombreux comme : le volcan de la Soufrière, 1 467 mètres,
    point culminant des Petites Antilles ; la ligne de crête reliant le Petit Sans Toucher et le
    Grand Sans Toucher à la Grande Découverte (1 263 m), le morne du Col (1 261 m) et au morne
    Carmichaël (1 414 m), les chutes du Carbet, le saut de la Lézarde, la cascade aux Écrevisses,
    le Grand Étang, les « Deux Mamelles » et la route de la Traversée ou encore la Réserve
    naturelle du Grand-Cul-de-Sac marin.
  </p>

  <p>
    Il existe également de nombreuses activités qu’on peut effectuer avec des guides comme le
    canyoning, la découverte de cascade isolées ou encore du trail pour les plus sportifs. La
    biodiversité est également très présente avec des animaux endémiques et une variété des
    végétaux extraordinaire. La forêt est l’espace d’expression à la fois des amoureux de la nature
    ou des sportifs en quête de sensations fortes. Il est donc possible désormais une fois cette
    belle expérience vécue que votre carte postale de la Guadeloupe ait changé...
  </p>
</article>
