<article class="container">
  <h2>UNE ORGANISATION SUR-MESURE</h2>
  <h3>CONCIERGERIE-CLIENTS</h3>
  <p>Dénicher un endroit de rêve pour une soirée d’exception, vous initier à la délicatesse saveurs
    créoles, combler vos besoins de détente, trouver des solutions à vos besoins les plus urgents
    ou organiser vos escapades sur mesure... Notre conciergerie-clients est à votre disposition
    pour satisfaire vos désirs et rêves les plus fous. </p>

  <ul>
    <li>Coach sportif à domicile</li>
    <li>Cours de yoga</li>
    <li>Massage à Domicile</li>
    <li>Chef de cuisine à Domicile</li>
    <li>Livraison de panier légume BIO</li>
    <li>Livraison de repas</li>
    <li>Organisation de soirée privée</li>
    <li>Réservation d’excursions sur mesure</li>
    <li>Location de voiture standing ou chauffeur privée...</li>
  </ul>

  <p>Notre service de conciergerie est disponible 24 heures sur 24, 7 jours sur 7 pour vous
    assister durant votre séjour. Nos partenaires sont sélectionnés avec exigence et nous
    accompagnent pour vous faire vivre le meilleur de nos iles. </p>

  <h3 class="mb-3">EXEMPLE PAGE BROCHURE</h3>
  <%= link_to(image_tag(image_path('pages/example-brochure.png')), image_path('pages/example-brochure.png'), class: 'img-fluid mb-3') %>
</article>
