<article class="container">
  <h2>Des offres sur mesure</h2>
  <p>Besoin d’inspiration, nous vous proposons nos circuits conçus autour des thématiques suivantes
    : Aventure et découverte, Bien-être et farniente, Gourmet, culture et patrimoine. Besoin de
    flexibilité, nous adaptons notre offre aux besoins et envies de nos clients. </p>

  <p>
    Vous retrouverez dans notre catalogue la plupart des hôtels et résidences hôtelières de 2 à 4
    étoiles disponibles sur nos destinations. Afin de répondre aux nouvelles attentes de nos
    clients, nous proposons également une sélection variée de produits locatifs:
  </p>
  <ul>
    <li>Bungalows en pleine nature ou en bord de mer</li>
    <li>Villas pour des séjours entre amis ou famille,</li>
    <li>Petites résidences de charmes.</li>
  </ul>

  <p>
    Nous mettons aussi à disposition une offre éclectique de loisirs alternatifs permettant de
    découvrir autrement et en toute liberté la magie de nos îles:
  </p>

  <ul>
    <li>Rencontre avec un artisan fabricant de cacao</li>
    <li>Cours de yoga rythmé par les tambours du «Gwo ka »</li>
    <li>Journée bien-être à la découverte des nombreuses sources d’eau chaude</li>
    <li>Observation des cétacés en compagnie d’un groupe de chercheurs</li>
    <li>Visite et dégustation dans l’une des plus anciennes plantations de café des Caraïbes</li>
    <li>Randonnée en forêt en compagnie d’un guide naturaliste</li>
    <li>Immersion dans un groupe de carnaval</li>
  </ul>
</article>
