<article class="container margin-bottom-static-article">
  <h2 class="mb-5">Politique de confidentialité</h2>
  <p>La politique de confidentialité précise les règles applicables concernant la collecte,
    l'utilisation, la divulgation et le transfert de certaines données, y compris vos informations
    personnelles.
    Cette politique régit votre utilisation du site internet karibinn.fr. Si vous n'acceptez pas
    cette Politique de confidentialité, veuillez ne pas utiliser le site internet karibinn.fr.
  </p>

  <h3>Collecte des informations</h3>
  <p>
    Nous recevons et stockons des données vous concernant, telles que :

  <ul>
    <li>
      Les données que vous nous fournissez :
      Nous recueillons les informations que vous nous divulguez. Par exemple, votre nom, adresse
      email, adresse ou code postal, mode de paiement et numéro de téléphone. Ces informations
      peuvent être recueillies de différentes manières, y compris lorsque vous utilisez notre
      service, interagissez avec le service clientèle ou participez à des enquêtes ou à des
      promotions marketing. Votre compte ou lorsque vous nous fournissez toute autre donnée au
      moyen
      de notre site ou autrement.
    </li>
    <li>
      Les données que nous collectons automatiquement :
      Nous collectons des informations sur vous et sur vos interactions avec nous et nos
      publicités,
      sur l'utilisation que vous faites du service, des applications, des sites, des outils et du
      service clientèle, ainsi que sur votre ordinateur ou tout autre équipement dont vous vous
      servez pour accéder à notre service. Ces données peuvent inclure votre activité sur le site
      karibinn.fr. Ce peut-être aussi que votre historique de lecture et les recherches que vous
      avez
      effectuées, des détails concernant vos interactions avec le service clientèle, les ID ou
      identifiants uniques de vos appareils, les caractéristiques de vos appareils et des logiciels
      dont ils sont équipés (comme leur type et leur configuration), des données de connexion, des
      statistiques sur les pages affichées, des URL de renvoi, les données publicitaires, les
      adresses IP et des informations de journal Web standard ; des informations collectées par des
      cookies, des balises Web et d'autres technologies.
    </li>
    <li>
      Des données issues d'autres sources :
      Nous sommes susceptibles de compléter les données décrites ci-dessus avec des données
      provenant
      d'autres sources, y compris des données provenant de fournisseurs de données en ligne et hors
      ligne. Ces données supplémentaires peuvent inclure des informations démographiques et
      concernant le comportement de navigation en ligne. Nous sommes susceptibles d'utiliser ces
      données supplémentaires à diverses fins conformément à la présente Politique de
      confidentialité, et notamment : l'analyse et la compréhension de nos abonnés (existants,
      anciens et potentiels) ; l'amélioration de notre service (y compris l'expérience
      utilisateur),
      du mode de prestation, de la sélection de contenu, des algorithmes de recommandation et des
      campagnes publicitaires et marketing ; ainsi que la protection du site karibinn.fr et de ses
      utilisateurs contre la fraude et les accès non autorisés.
    </li>
  </ul>
  </p>

  <h3>Utilisation des informations </h3>
  <p>Nous utilisons les informations que nous collectons afin de fournir, analyser, administrer,
    améliorer et personnaliser nos services et nos activités de marketing pour votre bénéfice et
    celui d'autres utilisateurs, notamment pour traiter votre inscription, vos commandes et vos
    paiements, ou encore pour communiquer avec vous concernant ces points et d'autres questions.
    Nous sommes par exemple susceptibles d'utiliser les informations que nous collectons aux fins
    suivantes : pour déterminer votre emplacement géographique général, pour vous fournir du
    contenu localisé, pour identifier votre fournisseur d'accès Internet et pour répondre à vos
    requêtes et à vos demandes de renseignements plus rapidement et plus efficacement ; pour
    prévenir, détecter et examiner les activités potentiellement interdites ou illégales, comme la
    fraude, et pour appliquer nos conditions (notamment pour déterminer l'admissibilité aux essais
    gratuits) ;pour vous envoyer des e-mails, des notifications Push ou d'autres communications
    publicitaires concernant notre service, notamment des newsletters, des messages sur les
    nouvelles fonctionnalités de karibinn.fr, des annonces promotionnelles et des enquêtes auprès
    des consommateurs. Nous travaillons occasionnellement en partenariat avec des sociétés dont les
    produits pourraient, selon nous, intéresser nos abonnés. En association avec ces partenaires,
    nous sommes susceptibles de vous envoyer des annonces promotionnelles et/ou de publier des
    publicités en ligne en leur nom, pour autant que la loi l'autorise. Veuillez consulter la
    section Vos choix de la présente Politique de confidentialité si vous souhaitez savoir comment
    désactiver l'envoi d'e-mails et de notifications Push à caractère marketing et connaître vos
    choix concernant les autres types de publicité.
    Nous sommes susceptibles d'utiliser des informations sur une base anonyme ou collective.
  </p>

  <h3>Divulgation des informations</h3>
  <p>
  <ul>
    <li>
      Fournisseurs de services :
      Nous faisons appel à d'autres sociétés, agents ou sous-traitants (« Fournisseurs de services
      ») qui prennent en charge certains services en notre nom ou qui nous aident à vous fournir
      nos services. Nous travaillons par exemple avec des Fournisseurs de services dans le domaine
      du marketing, de la publicité, de la communication, de l'infrastructure et des services
      informatiques afin de personnaliser et d'optimiser notre service, de limiter et contrer les
      fraudes en rapport avec les transactions par carte bancaire et les autres modes de paiement,
      pour assurer notre service clientèle, pour recouvrer les créances, pour analyser et améliorer
      les données (notamment les données sur les interactions des utilisateurs avec notre service)
      et pour mener et gérer des enquêtes auprès des consommateurs. Dans le cadre de la prestation
      de ces services, ces Fournisseurs de services sont susceptibles d'accéder à vos informations
      personnelles ou à d'autres données vous concernant. Nous ne les autorisons pas à utiliser ni
      divulguer vos informations personnelles, sauf dans le cadre de la fourniture de leurs
      services.
    </li>
    <li>
      Offres promotionnelles :
      Nous pouvons vous suggérer des promotions ou programmes communs. Pour pouvoir vous en faire
      bénéficier, nous devons partager vos données avec des tiers. Par exemple, nous sommes
      susceptibles de travailler en partenariat avec des sociétés qui proposent des offres
      incitatives,
      dans le cadre de programmes de fidélisation pour voyageurs fréquents, par exemple, si vous
      vous
      abonnez à notre service ou l'utilisez d'une autre manière. Pour prendre en charge ces types
      de
      promotion et d'offre incitative, nous sommes susceptibles de partager votre nom et d'autres
      informations. En participant à ces promotions ou programmes communs, vous acceptez que nous
      partagions vos données. Veuillez noter que nous ne contrôlons pas les pratiques en matière de
      confidentialité de ces sociétés tierces.
    </li>
    <li>
      Protection de karibinn.fr et d'autrui :
      Karibinn.fr et ses Fournisseurs de services sont susceptibles de divulguer ou utiliser vos
      informations personnelles et d'autres données lorsqu'ils ont de bonnes raisons de croire que
      cette divulgation est nécessaire pour se conformer à toute loi, réglementation, procédure
      juridique ou demande gouvernementale applicable, faire appliquer les conditions d'utilisation
      applicables, y compris l'enquête de leurs violations potentielles, détecter, prévenir ou
      gérer
      les activités illégales ou supposées illégales (y compris les fraudes sur les paiements), les
      failles de sécurité ou les problèmes techniques, ou se prémunir contre toute atteinte aux
      droits,
      à la propriété ou à la sécurité de karibinn.fr, de ses utilisateurs ou du public, lorsque la
      loi
      l'exige ou le permet.
    </li>
    <li>
      Transfert d'entreprise :
      Que ce soit dans le cadre d'une réorganisation, d'une restructuration, d'une fusion, d'une
      vente
      ou de tout autre type de transfert d'actifs, nous nous réservons le droit de transférer les
      données, y compris vos informations personnelles, à condition que le destinataire s'engage à
      respecter ces informations personnelles, en accord avec notre Politique de confidentialité.
      Informations collectives ou anonymes :
      Nous sommes susceptibles de fournir une analyse et des informations provenant de ou
      concernant
      nos utilisateurs, sur une base collective ou anonyme, à des partenaires, des Fournisseurs de
      service et à d'autres tiers.
    </li>
  </ul>
  </p>

  <h3>Vos choix</h3>
  <p>Si vous souhaitez ne plus recevoir certains types de communications de karibinn.fr, il vous
    suffit d'accéder de nous l’indiquer. Si vous décidez ensuite que vous ne souhaitez plus
    recevoir ces notifications, vous pouvez désactiver cette fonctionnalité dans les réglages de
    votre appareil mobile.
  </p>

  <h3>Vos droits</h3>
  <p>
    Vous pouvez demander l'accès à vos informations personnelles ou corriger ou mettre à jour des
    données erronées ou obsolètes que nous conservons sur vous. Le moyen le plus simple de le faire
    est d'accéder à la section Votre compte de notre site Web, d'où vous pouvez consulter et mettre
    à jour de nombreuses informations sur votre compte, et notamment vos coordonnées, vos
    informations de facturation et divers renseignements connexes sur votre compte (telles que vos
    préférences, le contenu que vous avez évalué et vos critiques). Vous devez vous identifier pour
    accéder à Votre compte. Veuillez aussi vous reporter à la section « Vos choix » dans la
    présente Politique de confidentialité pour connaître les options supplémentaires concernant vos
    informations. Vous pouvez également nous demander de supprimer les informations personnelles
    que nous conservons sur vous si elles ne sont plus nécessaires dans le cadre du service que
    nous vous offrons, pour nos dossiers de facturation ou pour d'autres raisons légitimes.
  </p>

  <h3>Sécurité</h3>
  <p>
    Karibinn.fr met en œuvre des mesures administratives, techniques, physiques et de gestion
    raisonnables pour protéger la sécurité de vos informations personnelles contre le vol ainsi que
    l'accès, l'utilisation et la modification sont autorisés. Par exemple, nous pouvons utiliser le
    protocole standard de sécurité SSL pour certaines transmissions afin de chiffrer certaines
    informations personnelles que vous nous envoyez par le biais des processus d'inscription et
    d'identification. Malheureusement, aucun système ne peut garantir la sécurité à 100 %. Par
    conséquent, nous ne pouvons pas garantir la sécurité de vos informations et nous ne sommes en
    aucun cas responsables en cas d'accès non autorisé. En utilisant notre service, y compris notre
    site Web et nos interfaces utilisateur, ou en nous fournissant des informations par quelque
    moyen que ce soit, vous consentez à ce que nous communiquions avec vous par voie électronique,
    pour toute question de sécurité, de confidentialité et de gestion en rapport avec votre
    utilisation du site karibinn.fr.
  </p>

  <h3>Autres sites Web, plateformes et applications</h3>
  <p>
    Le site karibinn.fr peut être proposé sur diverses plateformes ou contenir des liens vers des
    sites exploités par des tiers dont la politique en matière de traitement des informations peut
    être différente de la nôtre. Ces sites Web et plateformes sont régis par des déclarations de
    confidentialité, des modalités et des notes distinctes et indépendantes que nous vous
    recommandons de lire attentivement. Vous pouvez aussi rencontrer des applications tierces qui
    interagissent avec le site karibin.fr. Karibinn.fr n'est pas responsable des pratiques de
    traitement des informations de ces sites Web et plateformes tierces. Vous devez avoir 18 ans ou
    plus pour vous inscrire sur le site karibinn.fr. Dans certains territoires, l'âge légal de la
    majorité peut être au-dessus de 18 ans, auquel cas vous devez satisfaire à cette exigence pour
    pouvoir devenir membre. Les personnes âgées de moins de 18 ans peuvent toutefois utiliser le
    service, à condition qu'elles le fassent avec l'accord et sous la supervision d'un parent ou
    d'un tuteur légal et dans le cadre régi par nos Conditions d'utilisation.
  </p>

  <h3>Modification de cette Politique </h3>
  <p>
    Karibinn.fr est susceptible, de temps à autre, d'apporter des modifications à la présente
    Politique de confidentialité. Ces révisions entrent en vigueur immédiatement, bien que, pour
    les utilisateurs existants, sauf indication contraire, elles entrent en vigueur 30 jours après
    leur publication. Nous nous efforcerons de publier les versions antérieures (y compris les
    modifications indiquées) de la Politique de confidentialité, le cas échéant, sur la période des
    12 mois qui précèdent.
  </p>

  <h3>Transfert des informations</h3>
  <p>
    Internet étant un environnement mondial, son utilisation pour recueillir et traiter des
    informations entraîne nécessairement la transmission de données à l'échelle internationale. Par
    conséquent, en utilisant karibinn.fr, vous reconnaissez et acceptez le transfert de vos
    informations hors de votre pays de résidence vers un autre pays où nous possédons des
    installations ou faisons appel à des tiers. Vous comprenez que les pays dans lesquels nous
    pouvons transmettre des informations peuvent ne pas avoir le même niveau de protection des
    données que votre pays, même si vos informations personnelles continueront de bénéficier des
    niveaux standard de protection décrits dans la présente Politique de confidentialité.
  </p>

  <h3>Nous contacter</h3>
  <p>
    Pour toute question concernant votre compte, veuillez consulter notre site internet sur lequel
    vous trouverez des informations sur les modalités de contact de notre service clientèle.
  </p>
</article>
