<article class="container">
  <h2 class="mb-3">NOS SEJOURS ET CIRCUITS SUR MESURE </h2>
  <p>A votre demande, nous construisons sur mesure autour des thématiques suivantes:</p>

  <ul>
    <li>Aventure & découverte</li>
    <li>Bien-être & Farniente</li>
    <li>Balades gourmandes</li>
    <li>Culture & Patrimoine</li>
  </ul>

  <p>Nous nous adaptons à vos besoins et à vos envies. Nous proposons également une offre
    éclectique de loisirs alternatifs pour découvrir autrement et en toute liberté la magie de nos
    îles:</p>
  <ul>
    <li>Rencontre avec un artisan fabricant de cacao</li>
    <li>Cours de yoga rythmé par les tambours du «Gwo ka »</li>
    <li>Journée bien-être à la découverte des sources chaudes</li>
    <li>Observation des cétacés en compagnie de chercheurs</li>
    <li>Visite et dégustation dans l’une des plus anciennes plantations de café des Caraïbes</li>
    <li>Randonnée en forêt en compagnie d’un guide naturaliste</li>
    <li>Journée avec un pécheur</li>
    <li>Location de bateau avec skipper</li>
    <li>Immersion dans un groupe de carnaval</li>
  </ul>

  <strong>...et bien plus encore</strong>
</article>
