article {
  font-size: 1.2rem;
}

h4 {
  font-weight: 400;
}

.table td, .table th {
  border-top: 0;
}

.mt-neg-5 {
  margin-top: -3rem !important;
}

.input-group-prepend .input-group-text, .input-group-append .input-group-text {
  color: $primary;
}

.full-width {
  margin-left: -4rem;
  margin-right: -4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.main-margin {
  padding-top: 3rem;
  @include media-breakpoint-only(xl) {
    margin: 0 3rem 3rem;
  }
}


.text-truncatable {
  position: relative;
  overflow: hidden;
}

.text-truncatable__more, .text-truncatable__less {
  padding-left: 0;
}

.text-truncatable--truncated {
  max-height: 250px;
}
