h4 {
  font-weight: 400;
}

.table td, .table th {
  border-top: 0;
}

.btn-block {
  @include gradient-x($primary, $info);

  @include hover {
    @include gradient-x(darken($primary, 7.5%), darken($info, 7.5%));
  }

  border: 0;
  box-shadow: none;
}
