h4 {
  font-weight: 400;
}

.table td, .table th {
  border-top: 0;
}


.input-group-prepend .input-group-text, .input-group-append .input-group-text {
  color: $primary;
}

a {
  color: $black;
}

.full-width {
  margin-left: -4rem;
  margin-right: -4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
