@import 'product_card';

.landing {
  @include media-breakpoint-up(md) {
    .datepicker {
      max-width: 120px;
    }
  }

  .jumbotron {
    min-height: 500px;
  }

  .landing__products {
    display: flex;
    flex-wrap: wrap;
  }
}
