@import 'product_card';

.landing__jumbotron {
  margin-top: -60px; // to cover the navbar
  min-height: 500px;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    .datepicker {
      max-width: 120px;
    }
  }

  .container {
    margin-top: 60px;
  }
}

.landing__newsletter_form {
  width: 100%;
}

.landing__container {
  // TODO: change this later
  max-width: 1200px;
  margin: 1rem auto;
}

.landing__headline {
  color: $white;
}
