.locations {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.location {
  margin-left: 1rem;
  margin-right: 1rem;
}

.location__image {
  width: 263px;
  height: 85px;
  margin-bottom: 0.5rem;
}

.location__name {
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.locations__header {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
