@import "~bootstrap/scss/variables";

.product-card {
  min-width: 220px;
  padding: 10px;

  @include media-breakpoint-up(md) {
    width: 20%;
  }

  @include media-breakpoint-down(md) {
    width: 33%;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  .card-body {
    height: 180px;
  }

  .card-text {
    color: $secondary;
  }
}

.product-card__thumb {
  max-width: 360px;
  max-height: 190px;
}

.product-card__category {
  position: absolute;
  top: 15px;
  left: 15px;
}
