.product_image_carousel {
  margin-bottom: 3rem;

  .carousel-indicators-wrapper {
    width: 100%;
    overflow: auto;
  }

  .carousel-indicators {
    display: flex;
    overflow-x: auto;
    left: initial;
    margin-left: initial;
    margin-top: 1rem;
    min-width: min-content;
    position: static;
    width: 100%;
  }

  .carousel-indicators > .carousel-indicator {
    margin: 0.2rem;
    cursor: pointer;
    width: initial;
    height: initial;
    text-indent: initial;
  }

  .carousel-indicators img {
    max-width: 200px;

    @include media-breakpoint-down(md) {
      max-width: 100px;
    }
  }

  .carousel-indicators > .active img {
    opacity: 0.7;
  }
}

.product_image_carousel__inner {
  max-width: 800px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(sm) {
    height: 250px;
  }
  img {
    height: 450px;
    @include media-breakpoint-down(sm) {
      height: 250px;
    }
    object-fit: scale-down;
    cursor: pointer;
  }
}

