.property__image-carousel-inner {
  max-height: 500px;
}

.property__amenities-container {
  margin-top: 80px;
}

.property__amenities {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.property__amenity {
  align-items: center;
  display: flex;
  height: 80px;
  margin-right: 150px;
  width: 150px;

  img {
    margin: 5px;
  }
}

.property__data_subheader {
  margin: 10px 0 50px;
}

.property__data:not(:first-child):before {
  content: '∙';
  margin: 0 10px;
  font-size: 0.9rem;
  vertical-align: middle;
}

.room-types__link {
  color: $black;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.room-type {
  padding: 1rem 2rem 0.25rem;
  margin-bottom: 1rem;
  &:hover {
    box-shadow: 0 0 9px 2px rgba($primary, .255);
  }
}

.room-types__data {
  vertical-align: middle;
}

.room-types__data:not(:first-child):before {
  content: '∙';
  margin: 0 5px;
}

.room-types__amenity {
  display: inline-block;
  margin: 0 5px;
}

.room-types__more-amenities {
  margin-left: 1rem;
}
