$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker';
@import '~dropzone/dist/dropzone';

@import 'product_card';

@import 'admin/sidebar';
@import 'admin/product_images';

.navbar {
  height: 48px;
}

[role="main"] {
  padding-top: 48px;
}

