<div class="row">
  <div class="col">
    <h1>Edit Activity <%= @activity.title %></h1>
    <%= link_to t('.back'), admin_activities_path %>
    <%= link_to t('.edit_images'), admin_product_product_images_path(@activity.product) %>

    <%= render 'form' %>
  </div>
</div>

