.insider-section {
  margin-top: 3rem;
  a {
    color: $black;

    &:hover {
      text-decoration: none;
    }
  }
}

.insider-section__headline {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.insider-section__element-wrapper {
  height: 280px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.insider-section__element-wrapper--small {
  height: 200px;
  overflow: hidden;
  margin-bottom: 2rem;
}

a .insider-section__element-wrapper {
  &:hover, &:focus {
    .insider-section__element {
      transform: scale(1.02);
    }
  }
}

.insider-section__element {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  transition: all .4s;
}

.insider-section__element--featured {
  padding: 1rem;
}

.insider-section__top-caption {
  color: $white;
}

.insider-section__element--two-captions {
  flex-direction: column;
  justify-content: space-between;

  .insider-section__caption {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

.insider-section__caption {
  background-color: $white;
  display: inline-block;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  padding: 0.3rem 1rem;
}

.insider-section__guadeloupe {
  background-image: url('./../images/landing/guadeloupe-bg.jpg');
}

.insider-section__martinique {
  background-image: url('./../images/landing/martinique-bg.jpg');
}

.insider-section__properties {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./../images/landing/range-of-properties-bg.jpg');
}

.insider-section__concierge {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./../images/landing/concierge-bg.jpg');
}

.insider-section__sur-mesure {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./../images/landing/themes-bg.jpg');
}
