<div class="row m-5">
  <h1 class="mb-5"><%= t('.header') %></h1>

  <div class="properties">
    <% @products.each do |product| %>
      <%= render partial: 'shared/product_card', locals: { product: product } %>
    <% end %>
  </div>

  <%= paginate @products %>
</div>

