<%= render partial: 'shared/product_image_carousel', locals: { product: @product } %>

<h1><%= @product.title %></h1>

<div class="row">
  <div class="col-md-6 mx-auto">
    <p><%= render_markdown @product.description %></p>
  </div>

  <div class="col-md-6">
    <%= render partial: 'booking_component', locals: { product: @product, activity: @activity } %>
  </div>
</div>

