<% content_for :hero do %>
  <div class="row">
    <%= render partial: 'shared/product_image_carousel', locals: { product: @product } %>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <h1><%= @product.title %></h1>
    <p><%= render_markdown @product.description %></p>
  </div>
</div>
