<div class="row">
  <%= render partial: 'shared/product_image_carousel', locals: { product: @product } %>
</div>

<div class="row m-5">
  <div class="col">
    <h1><%= @product.title %></h1>
    <p><%= @product.description %></p>
  </div>
</div>
