<div class="bg-dark full-width py-5">
  <%= render 'shared/locations', locations: @locations %>
</div>

<h2 class="mt-4"><%= t('.offers') %></h2>
<div class="products">
  <% @property_products.each do |product| %>
    <%= render partial: 'shared/product_card', locals: { product: product } %>
  <% end %>
</div>

<%= paginate @property_products %>
