<span>
  <%= language %>
  <ul class="list-group d-none" data-target="locale-picker.languages">
    <li class="list-group-item">English</li>
    <li class="list-group-item">Français</li>
  </ul>
</span>
